{% extends 'administrator/baseTemplate.html' %}
{% load static %}
{% block content %}
    <div class="page_container">
        <div>
            <!--slider-->
            <div id="main_slider">
                <div class="camera_wrap" id="camera_wrap_1">
                    <div data-src="images/slider/slide1.jpg">
                        <div class="camera_caption fadeIn">
                            <div class="slide_descr">Living in <span>God’s amazing grace</span></div>
                        </div>
                    </div>
                    <div data-src="images/slider/slide2.jpg">
                        <div class="camera_caption fadeIn">
                            <div class="slide_descr">Lorem <span>ipsum dolor</span> sit amet</div>
                        </div>
                    </div>
                    <div data-src="images/slider/slide3.jpg">
                        <div class="camera_caption fadeIn">
                            <div class="slide_descr">Ut enim ad, quis nostrud <span>exercitation</span></div>
                        </div>
                    </div>
                    <div data-src="images/slider/slide4.jpg">
                        <div class="camera_caption fadeIn">
                            <div class="slide_descr"><span>Sed ut</span> perspiciatis unde omnis</div>
                        </div>
                    </div>
                    <div data-src="images/slider/slide5.jpg">
                        <div class="camera_caption fadeIn">
                            <div class="slide_descr"><span>At vero</span> eos et accusamus <span>et iusto</span></div>
                        </div>
                    </div>
                </div><!-- #camera_wrap_1 -->
                <div class="clear"></div>
            </div>
            <!--//slider-->
        </div>

        <!--planning-->
        <div class="wrap planning">
            <div class="container">
                <div class="row">
                    <a class="span3" href="javascript:void(0);">
						<span class="service_block">
							<span class="icon_block">
								<img class="icon1" src="{% static 'mainTheme/images/icon1.png' %}"/>
								<img class="icon1_h" src="{% static 'mainTheme/images/icon1_h.png' %}"/>
							</span>
							<span class="link_title">Lorem Ipsum</span>
							Donec euismod risus tortor, quis sodales lorem malesuada eget. Duis
						</span>
                    </a>
                    <a class="span3" href="javascript:void(0);">
						<span class="service_block">
							<span class="icon_block">
								<img class="icon1" src="{% static 'mainTheme/images/icon2.png' %}"/>
								<img class="icon1_h" src="{% static 'mainTheme/images/icon2_h.png' %}"/>
							</span>
							<span class="link_title">Lorem Ipsum</span>
							Donec euismod risus tortor, quis sodales lorem malesuada eget. Duis
						</span>
                    </a>
                    <a class="span3" href="javascript:void(0);">
						<span class="service_block">
							<span class="icon_block">
								<img class="icon1" src="{% static 'mainTheme/images/icon3.png' %}"/>
								<img class="icon1_h" src="{% static 'mainTheme/images/icon3_h.png' %}"/>
							</span>
							<span class="link_title">Lorem Ipsum</span>
							Donec euismod risus tortor, quis sodales lorem malesuada eget. Duis
						</span>
                    </a>
                    <a class="span3" href="javascript:void(0);">
						<span class="service_block">
							<span class="icon_block">
								<img class="icon1" src="{% static 'mainTheme/images/icon4.png' %}"/>
								<img class="icon1_h" src="{% static 'mainTheme/images/icon4_h.png' %}"/>
							</span>
							<span class="link_title">Lorem Ipsum</span>
							Donec euismod risus tortor, quis sodales lorem malesuada eget. Duis
						</span>
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--//planning-->

        <!--Recent Gallery-->
        <div class="wrap recent_gal_block">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <h2 class="title">Our values</h2>
                        <div class="jcarousel_arrows">
                            <div class="jcarousel_prev"></div>
                            <div class="jcarousel_next"></div>
                        </div>
                        <p>Integer eu congue tellus. Curabitur vitae quam non nunc egestas ultrices non in lectus. Proin
                            sapien justo, lacinia a magna non, dictum aliquet eros. In ut sollicitudin</p>
                        <a class="more" href="javascript:void(0);">View More</a>
                    </div>
                    <div class="span9">
                        <ul id="mycarousel1" class="jcarousel-skin-tango">
                            <li>
                                <div class="proj_block">
                                    <img src="{% static 'mainTheme/images/featured_works/1.jpg' %}" alt=""/>
                                    <a href="images/featured_works/1.jpg" rel="prettyPhoto[portfolio1]"><span
                                            class="portfolio_zoom1"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="proj_block">
                                    <img src="{% static 'mainTheme/images/featured_works/2.jpg' %}" alt=""/>
                                    <a href="images/featured_works/2.jpg" rel="prettyPhoto[portfolio1]"><span
                                            class="portfolio_zoom1"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="proj_block">
                                    <img src="{% static 'mainTheme/images/featured_works/3.jpg' %}" alt=""/>
                                    <a href="images/featured_works/3.jpg" rel="prettyPhoto[portfolio1]"><span
                                            class="portfolio_zoom1"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="proj_block">
                                    <img src="{% static 'mainTheme/images/featured_works/4.jpg' %}" alt=""/>
                                    <a href="images/featured_works/4.jpg" rel="prettyPhoto[portfolio1]"><span
                                            class="portfolio_zoom1"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="proj_block">
                                    <img src="{% static 'mainTheme/images/featured_works/2.jpg' %}" alt=""/>
                                    <a href="images/featured_works/2.jpg" rel="prettyPhoto[portfolio1]"><span
                                            class="portfolio_zoom1"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="proj_block">
                                    <img src="{% static 'mainTheme/images/featured_works/3.jpg' %}" alt=""/>
                                    <a href="images/featured_works/3.jpg" rel="prettyPhoto[portfolio1]"><span
                                            class="portfolio_zoom1"></span></a>
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--//Recent Gallery-->

        <!--Welcome-->
        <div class="wrap welcome_bg">
            <div class="container">
                <div class="welcome_block">
                    <div class="welcome_txt">
                        <span>on-line</span> christian school
                    </div>
                    <a class="welcome_btn" href="javascript:void(0);">click here</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--//Welcome-->

        <!--Latest news-->
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h2 class="title">News & Events</h2>
                        <div class="post_block">
                            <div class="post_date">April o7,2020</div>
                            <a class="post_title" href="javascript:void(0);">Donec interdum varius sapien et aliquam</a>
                            Integer eu congue tellus. Curabitur vitae quam non nunc egestas ultrices non in lectus.
                            Proin
                            sapien justo, lacinia a magna non
                            <a class="post_more" href="javascript:void(0);"></a>
                        </div>
                        <div class="post_block">
                            <div class="post_date">April o7,2020</div>
                            <a class="post_title" href="javascript:void(0);">Donec interdum varius sapien et aliquam</a>
                            Integer eu congue tellus. Curabitur vitae quam non nunc egestas ultrices non in lectus.
                            Proin
                            sapien justo, lacinia a magna non
                            <a class="post_more" href="javascript:void(0);"></a>
                        </div>
                    </div>
                    <div class="span6 helping_block">
                        <h2 class="title">helping people find their way back to God!</h2>
                        <img class="fleft" src="{% static 'mainTheme/images/helping_img.jpg' %}"/>
                        <p>Integer eu congue tellus. Curabitur vitae quam non nunc egestas ultrices non in lectus. Proin
                            sapien justo, lacinia a magna non, dictum aliquet eros.</p>
                        <p>In ut sollicitudin ante, in luctus risus. Pellentesque habitant morbi tristique senectus et
                            netus
                            et malesuada fames ac turpis egestas. Integer eu congue tellus. Curabitur vitae quam non
                            nunc
                            egestas ultrices non in lectus. Proin sapien justo, lacinia a magna non, dictum aliquet
                            eros. In
                            ut sollicitudin ante, in luctus risus. Pellentesque habitant morbi tristique</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--Latest news-->

    </div>

{% endblock %}